// Variables I created
@import "variables";

// Bootstrap Variables
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap";

// install bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


.wrapper{
  max-width: 100%;
  position: relative;
  background: url("/Users/matthewrice/Documents/code/2.2-sass-bootstrap/images/skateboard-images/bg.jpg") no-repeat;
  background-size: cover;

  &:before{
    content: "";
    background-color: rgba(40, 40, 40, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.subscribe-link{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  position: absolute;;
}

.social-links{
  float: right;
  li {
    display: inline-block;
    a{
      text-decoration: none;
    }
  }
}

.social{
  position: relative;
  float: right;
  padding: 2px;
  margin-top: 10px;

  i{
    border-bottom: 2px solid #929392;
  }
}

@mixin social($color){
  background-color: $color;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #757DB2;
  text-align: center;
  width: 31px;
  transition: background-color 0.5s;
  &:hover{
    background-color: lighten($color, 20);
  }
}

.face{
  // width: 40px;
  @include social(#424C8F);
}

.rss{
  // width: 40px;
  @include social(#D5901A);
}

.twitter{
  @include social(#6689C9);
}

.youtube{
  @include social(#C21F17);
}

.informational-links{
  padding: 0;
}

.informational-links a{
  display: block;
  max-width: 100%;
  text-align: center;
  background-color: #C50017;
  border-bottom: 2px solid #929392;
  text-decoration: none;

  .button-links{
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #EAEAE8;
  padding: 10px 0;
  }
}

.m-dash{
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.top-image{
  max-width: 100%;
  position: relative;
  background: url("/Users/matthewrice/Documents/code/2.2-sass-bootstrap/images/skateboard-images/top-image.png") no-repeat;
  background-size: cover;
  border: 6px solid white;
  margin-top: 10px;
  &:before{
    content: "";
    background-color: rgba(156, 156, 156, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.peralta-logo{
  position: relative;
  margin-top: 65px;
  margin-bottom: 45px;
  max-width: 100%;
  float: left;

  img{
    position: relative;
    height: 170px;
    // width: 80%;
  }
}

.slide-controls{
  text-align: center;
  padding: 15px;
}

.read-topics{
  margin-bottom: 10px;
}

.topic{
  background-color: white;
  padding: 10px;
  height: 300px;
}

.topic1{
  .details{
    margin-bottom: 35px;
  }
}

.topic3{
  .title{
    margin-bottom: 40px;
  }
}

.title{
  font-size: 20px;
}

.date{
  color: rgb(191, 191, 191);
}

.details{
  line-height: 28px;
}

.read-more{
  text-align: center;
  color: rgb(194, 0, 25);
  // margin-bottom: 30px;
}

// Famous Skateboarders
.skater h2{
  border: 5px solid white;
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.skater1{
  background: url("/Users/matthewrice/Documents/code/2.2-sass-bootstrap/images/skateboard-images/sk8er-4.png") no-repeat;
  background-size: cover;
}

.lance{
  height: 200px;
  padding-top: 25px;
}

.skater2{
  background: url("/Users/matthewrice/Documents/code/2.2-sass-bootstrap/images/skateboard-images/sk8er-3.png") no-repeat;
  background-size: cover;
}

.rodney{
  height: 200px;
  padding-top: 25px;
}

.skater3{
  background: url("/Users/matthewrice/Documents/code/2.2-sass-bootstrap/images/skateboard-images/sk8er-2.png") no-repeat;
  background-size: cover;
}

.tommy{
  height: 200px;
  padding-top: 25px;
}

.skater4{
  background: url("/Users/matthewrice/Documents/code/2.2-sass-bootstrap/images/skateboard-images/sk8er-1.png") no-repeat;
  background-size: cover;
}

.steve{
  height: 400px;
  padding-top: 160px;
}

// Skateboard Pictures
.skateboard-pictures{
  background-color: white;
  margin-bottom: 30px;

  img{
    max-width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    height: 285px;
    padding-left: 32px;
  }
}

// Contact Us Form
.contact-us-form{
  position: absolute;
  background-color: white;
}

.contact-us{
  margin-top: 25px;
}

.more-info{
  font-size: 20px;
}

.form-details{
  line-height: 28px;
}

// form social are the social links inside the form.
.form-social{
  position: relative;
  float: left;
  padding: 2px;
  margin-top: 2px;
}

.enter-contact-info{
  margin-top: 18px;
}

.message-line{
  height: 150px;
}

.submit-button{
  position: relative;
  float: right;
  background-color: rgb(197, 0, 23);
  color: white;
  width: 200px;
}

@mixin form-social($color){
  background-color: $color;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #9D9D9D;
  text-align: center;
  width: 38px;
}

.face-form{
  @include form-social(#4F4F4F);
}

.rss-form{
  @include form-social(#ADADAD);
}

.twitter-form,
.youtube-form{
  @include form-social(#757575);
}
